*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

aside{
    height: calc(100vh - 80px);
    background-color: #111;
    color: rgb(243, 243, 243, 0.8);
    width: 220px;
    position: fixed;
    padding: 25px;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-between;
}

main{
    width: 100%;
    background: linear-gradient(to bottom right, #663300 0%, #996600 100%);
    padding-top: 40px;
    padding-left: 225px;
    padding-bottom: 80px;
}

footer{
    height: 80px;
    width:100%;
    padding: 15px;
    background-color: #222;
    color: rgb(243, 243, 243, 0.8);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.menu-top{
    margin-bottom: 35px;
}

.menu-top img{
    height: 35px;
    margin-bottom: 30px;
    color: white;
}

.menu-top .fas{
    margin-right: 15px;
}

.menu-top p{
    margin-bottom: 20px;
}

.menu-top p:nth-of-type(2){
    color: white;
    border-left: 3px solid orange;
    padding-left: 20px;
    margin-left: -23px;
}

aside p:hover{
    color: white;
    cursor: pointer;
}

.menu-bottom p{
    margin-bottom: 10px;
}

.nav-bottom p{
    padding: 10px;
    font-size: 16px;
}

.nav-bottom p:nth-of-type(2){
    color: white;
    padding-bottom: 0;
}

.nav-bottom .fas{
    margin-right: 10px;
}

.container{
    width:70%;
    margin:auto;
}

.menu-list{
    text-align: center;
    font-size: 14px;
    color: rgb(243, 243, 243, 0.8);
}

.menu-list ul li{
    display: inline-block;
    padding: 10px 20px;
}

.menu-list ul li:hover{
    color: white;
    cursor: pointer;
}

.menu-list ul li:first-child{
    color: white;
    border-bottom: 1px solid white;
}

.hamburger{
    display: none;
    font-size: 35px;
    color: white;
    text-align: right;
}

.hamburger{
    cursor: pointer;
}

.contenuto{
    color: white;
}

.sezione{
    padding: 35px 0;
}

.sezione h1{
    margin-bottom: 5px;
}

.immagini{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.artisti{
    position: relative;
}

.artisti:hover{
    opacity: 0.8;
}

.artisti .fa-play-circle{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    padding: 50px;
    border-radius: 50%;
}

.fa-play-circle:hover{
    opacity: 1;
    cursor: pointer;
}

.artisti p{
    text-align: center;
}

.artisti img{
    height: 150px;
    border-radius: 50%;
    margin-top: 25px;
}

.footer-left{
    width: 230px;
}

.footer-left img{
    height: 50px;
    float: left;
}

.footer-left span{
    float: left;
    padding: 10px;
    font-size: 12px;
}

.footer-left span p:first-of-type{
    color: white;
}

.footer-left span p:first-of-type:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-center{
    width: 50%;
    text-align: center;
}

.footer-center .fas, .footer-center .far{
    padding: 0 20px;
    font-size: 22px;
}

.footer-center .fas:hover, .footer-center .far:hover{
    cursor: pointer;
    color: white
}

.footer-center .slider {
    -webkit-appearance: none;
    width: 75%;
    height: 3px;
    margin-top: 16px;
    background: rgb(243, 243, 243, 0.6);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.footer-center .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(243, 243, 243);
    cursor: pointer;
    border-radius: 50%;
}

.footer-center .slider::-webkit-slider-thumb:hover{
    background: white;
}

.slidecontainer p{
    display: inline-block;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 5px;
}

.slidecontainer p:nth-of-type(2){
    padding-left: 0;
    padding-right: 5px;
}

.footer-right{
    padding: 17px 0;
    width: 230px;
}

.footer-right .fas{
    padding: 0 5px;
}

.footer-right .fas:hover{
    cursor: pointer;
    color: white;
}

.footer-right .slider {
    -webkit-appearance: none;
    width: 50%;
    height: 3px;
    background: rgb(243, 243, 243, 0.6);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: super;
}

.footer-right .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: rgb(243, 243, 243);
    cursor: pointer;
    border-radius: 50%;
}

.footer-right .slider::-webkit-slider-thumb:hover{
    background: white;
}

@media screen and (max-width: 992px){
    .footer-center{
        display: none;
    }

    .menu-list{
        display: none;
    }

    .hamburger{
        display: block;
    }
}

@media screen and (max-width: 768px){
    .sezione{
        text-align: center;
    }

    .immagini{
        justify-content: center;
    }
}
